html {
    scroll-behavior: smooth;
}

body {
    font-family: Candara, Verdana;
    font-size: medium;
    line-height: 150%;
    text-align: justify;
}

.title {
    font-style: italic;
    font-family: Candara, Verdana;
    text-align: center;
    line-height: 0.8;
}

ul {
    display: flex;
    list-style-type: none;
    background-color: rgb(64, 64, 64);
    margin: 0;
    padding: 0;
    overflow: auto;
    align-items: center;
}

ul li a {
    display: block;
    color: White;
    padding: 16px 14px;
    text-align: left;
    text-decoration: none;
}

ul li a:hover {
    background-color: grey;
}
.Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

p {
    max-width: auto;
    text-align: left;
    padding: 24px;
}

hr {
    background-color: black;
    height: 1px;
    border: none;
    width: 90%;
}

#Home {
    background-color: bisque;
}

#About {
    background-color: beige;
}

#Skills {
    background-color: bisque;
}

#Projects {
    background-color: beige;
}

li {
    padding: 3px;
    text-indent: 30px;
}

pre {
    font-family: Candara;
}

#Contacts {
    color: white;
    background-color: rgb(75, 74, 74);
}